* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./img/bg.jpg");
  box-sizing: border-box;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.61);
}

.hero > nav,
.hero > div {
  position: relative;
  z-index: 2;
}

nav > ul {
  list-style: none;
  display: flex;
  padding: 30px 60px 10px;
}

ul > .nav_logo {
  width: 80%;
}

ul > .nav_logo > img {
  width: 13%;
}

.nav-btn_lang {
  background-color: transparent;
  color: white;
  padding: 8px 8px;
  font-size: 1em;
  border: 1px solid white;
  border-radius: 3px;
  margin-right: 15px;
}

.nav-btn_lang > select {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav-btn_lang > select > option {
  color: white;
  background-color: rgb(92, 92, 92);
}

.nav-btn_log {
  background-color: #e81313;
  color: white;
  padding: 8px 18px;
  font-size: 1em;
  border: 1px solid #e81313;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.content > h1 {
  font-size: 3.5em;
  text-align: center;
  width: 55%;
  line-height: 1em;
}

.content > h5 {
  margin: 10px 0;
  font-size: 2em;
  font-weight: normal;
}

.content > p {
  margin: 10px 0;
  font-size: 1.2em;
}

.form-group {
  margin-top: 5px;
  width: 50%;
  box-sizing: border-box;
}

.form-group input {
  font-size: 1.2em;
  height: 35px;
  padding: 8px 10px;
  border: none;
}

.form-group input:focus {
  outline: none;
}

.form-group input[type="email"] {
  margin-right: 0;
  width: 70%;
}

.form-group input[type="button"] {
  margin-left: -5px;
  width: 25%;
  background-color: #e81313;
  cursor: pointer;
  color: white;
  height: 100%;
}

.form-group input[type="button"]:hover {
  background-color: #f81919;
}

.form-group > label {
  position: absolute;
  margin-top: 15px;
  margin-left: -25px;
}
/*********** Hero section ended **************/
hr {
  height: 0.6em;
  background-color: rgb(39, 39, 39);
  border: none;
  width: 100%;
}
/*********** section1  **************/
.section {
  padding: 70px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.section > .section_content {
  width: 45%;
}

.section h1 {
  font-size: 3.3em;
}

.section p {
  margin-top: 10px;
  font-size: 1.6em;
}

.section img {
  width: 480px;
}

.section > .section_img {
  position: relative;
}

.section video {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  width: 360px;
}
/*********** section1 ended **************/

/*********** section2 **************/
.section2 > .section_content {
  width: 55%;
}

.section2_im {
  padding: 8px;
  position: absolute;
  width: 60%;
  left: 50%;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  align-items: center;
  background: #000;
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 0.75em;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
}

.section2_im > img {
  width: 60px;
}

.section2_im > div > p {
  margin: 0;
  font-size: 1em;
}

.im_text > p:first-child {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1em;
}

.im_text > p:last-child {
  margin-top: 3px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: rgb(29, 29, 255);
}
/*********** section2 ended **************/

/*********** section3 **************/
.section3_vd {
  top: 34% !important;
  width: 300px !important;
}
/*********** section3 ended **************/

/*********** section4 **************/
.section4 > .section_content {
  width: 55%;
}
/*********** section4 ended **************/


.section5 {
  width: 80%;
  padding: 70px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.section5 > h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

.section5 .qs {
  font-size: 1.4em;
  font-weight: normal !important;
  position: relative;
  width: 800px;
  height: 70px;
  background-color: rgb(59, 59, 59);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 10px 0;
}

.section5 .qs p:last-child {
  font-weight: bold;
}

.section5 > p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
/*********** footer **************/
.footer {
  font-size: .8em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(136, 136, 136);
}

.footer > p {
  margin-bottom: 20px;
}

.footer a {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer_group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  box-sizing: border-box;
}

.footer_group > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer_group a {
  margin: 7px 0;
}

.footer-btn_lang {
  background-color: transparent;
  color: rgb(155, 155, 155);
  padding: 8px 8px;
  font-size: 1em;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 2px;
  margin-top: 10px;
}

.footer-btn_lang > select {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.footer-btn_lang > select > option {
  color: white;
  background-color: rgb(92, 92, 92);
}
/*********** footer ended **************/